#files
chrome-profiler-events.json
.classpath
.code-workspace
database
.project
speed-measure-plugin.json

#file types
*.iml
*.ipr
*.iws
*.launch
*.log
*.sublime-workspace
*.swp
*.tar
*.war
*.zip

#folders
**/build/**
**/.c9/**
**/dist/**
**/.gradle/**
**/.history/**
**/.idea/*
!.idea/codeStyles/
**/out/**
**/.settings/**
**/.vscode/**

#dev
dev/logs
bin